/*Reece Battye 17417951*/
body {

  text-align: center;
  background: #cc00cc;
}

h3 {
  font-size: 24px;
  color: #ffffff;
}

/*Image*/
.me {
  margin-top: 5%;
  border-radius: 100%;
  max-height: 200px;
  max-width: 200px;
}

.bow {
  max-height: 200px;
  max-width: 200px;
}


/*Link*/


a:link, a:visited {
  width: 70px;
    background-color: pink;
    color: black;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}
